.idea/
target/
Cargo.lock
assets/soundbanks/
!assets/soundbanks/.keep
examples/WwiseProject*/.backup/
examples/WwiseProject*/.cache/
examples/WwiseProject*/*.prof
examples/WwiseProject*/*.validationcache
examples/WwiseProject*/*.wsettings
examples/WwiseProject*/*.log
examples/WwiseProject*/GeneratedSoundBanks/
*.akd
*.cache
